
nav li:nth-child(3) a {
    color:red;
}

main {
    & {
        background-color: lightgrey;
    }

    .first-box {
        border: 1px solid blue;
        background-color: yellow;
    }

    > ul li:nth-child(2) {
        /* transform: scale(1.1) translatex(40px); */
        font-size:1.2rem;
    }

    > ul li:nth-child(3) {
        text-decoration: underline;
    }
}

/* hover는 부모에게 주는 것이 안전하다 */
footer:hover > p {
    color: dodgerblue;
}